.item::selection {
    background-color: yellow;
}

.item {
    position: absolute;
    display: inline-flex;
    width: max-content;
    max-width: 400px;
    align-items: baseline;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
}

.reading {
    position: absolute;
    top: -16px;
    /*should be main size - overlay size*/
    left: 0;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: #0c6;
}

.word {
    display: block;
    position: relative;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.meaning {
    font-size: 20px;
    color: #333;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}